<div class="uk-container">
<h1> Welcome </h1>
Start Building your Resume !

 <%= render partial: "shared/introduction", :collection => @introductions %>
 <%= render partial: "shared/summary", :collection => @summary %>
 <%= render partial: "shared/skills", :collection => @skills %>

 </div>