
<div class= "uk-container uk-background-muted uk-padding uk-panel" style="padding: 50px;margin-top: 150px;">
    <h2> Add your Objective here </h2><br>
        <%= form_for @objective do |f| %>

            <%= f.hidden_field :resume_id, :value => @user_resume %>
             
        
            <label class="uk-form-label" for="form-stacked-text">
                Objective
            </label>
            <div class="uk-form-controls ">
               <input class = "uk-input" =  <%= f.text_field :description, :required => true %>
            </div>
            <br>
           <button class="uk-button uk-button-primary"
                 <%= submit_tag "Add" %> UPDATE
        <% end %>
        
</div>
