
<div class= "uk-container uk-background-muted uk-padding uk-panel" style="padding: 50px;margin-top: 150px;">
    <h2> Add your Objective here </h2><br>
        <%= form_for @objective do |f| %>

            <%= f.hidden_field :resume_id, :value => @user_resume %>
             
             Objective
            <div class="uk-margin">
                <textarea class="uk-textarea" rows="5" placeholder="Describe your job"
                    <%= f.text_field :description, :required => true %>
                </textarea>
            </div>
            <br>
            <button class="uk-button uk-button-default"
                 <%= submit_tag "Add" %> ADD
             </button>
    
        <% end %>
        
</div>
