
<hr>
<div class="uk-container uk-flex uk-padding uk-background-muted">
         <div class="uk-container-primary uk-padding ">
               <h1 class="uk-heading-line" ><span>YOU'RE AWESOME<strong style="color: #f0506e;">!</strong></span></h1>
               <!-- <el style = "color: #f0506e;">FOLLOW 3 EASY STEPS</el>   -->
              <h3 class="uk-heading-line uk-text-left"><span>1. YOUR <strong style="color: #f0506e;">N</strong>AME</span></h3>

              <h3 class="uk-heading-line uk-text-center"><span>2. YOUR <strong style="color: #f0506e;">E</strong>MAIL ID</span></h3>

              <h3 class="uk-heading-line uk-text-right"><span>3. YOUR <strong style="color: #f0506e;">R</strong>EVIEW</h3>
              <br><br>
              THANKS FOR DOING THIS<strong style = "color: #f0506e;">!</strong> <BR>
        </div>
      

        <div class="uk-container-primary uk-padding uk-align-center">
        	<legend class="uk-legend">Review</legend>
        	<hr>
			<form method="POST" action="https://formspree.io/zakwanbhaiyat23@gmail.com" target="_blank">
				
			  <div class="uk-margin">
            		<input class="uk-input" type="text" name="name" placeholder="Your Name">
       	 	  </div>
				
			  <div class="uk-margin">
            		<input class="uk-input" type="email" name="email" placeholder="Your Email-Id">
       	 	  </div>
			  <div class="uk-margin">
			  		
            		<textarea class="uk-textarea" rows="5" name="message" placeholder="Your Review message"></textarea>
        	  </div>
			  <br>
			  <button type="submit" class="uk-button uk-button-danger">Send</button>
			</form>
	</div>
</div>
<br><br>
