<div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid style="line-height: 1;">
	<% if @user_resume_introductions && @user_resume_objective != nil %>
		<div class="uk-animation-toggle">
			<a class="uk-button uk-button-primary myButton" <%= link_to 'Template 1', user_path(:id => @current_user.id) %> </a>
		</div><br>
		<% else %>
		<strong style="color: #1e87f0;">Note</strong> :- Fill out <strong style="color: #f0506e;">B</strong>asic<strong style="color: #f0506e;">I</strong>nfo and <strong style="color: #f0506e;">S</strong>ummary section to <strong style="color: #f0506e;">V</strong>iew your <strong style="color: #f0506e;">R</strong>esume.<br>
	<% end %>
	<% if @user_resume_introductions && @user_resume_objective && @user_resume_reskills.length && @user_resume_experiences.length && @user_resume_otherprojects.length && @user_resume_education.length != 0 %>
		
		<div class="uk-animation-toggle">
 			<a class="uk-button uk-button-primary myButton" <%= link_to "Download Resume", users_path(:id => @current_user.id, format: 'pdf') %></a>
		</div>
		<% else %>
		<strong style="color: #1e87f0;">Note</strong> :- Fill out <strong style="color: #f0506e;">All</strong> the sections for <strong style="color: #f0506e;">D</strong>ownload your <strong style="color: #f0506e;">R</strong>esume.
	<% end %>

<br><br>

	<% if @user_resume_introductions && @user_resume_objective != nil %>
		<div class="uk-animation-toggle">
			<a class="uk-button uk-button-primary myButton" <%= link_to 'Template 2', newtemplate_path(:id => @current_user.id) %> </a>
		</div><br>
	<% end %>
	<% if @user_resume_introductions && @user_resume_objective && @user_resume_reskills.length && @user_resume_experiences.length && @user_resume_otherprojects.length && @user_resume_education.length != 0 %>
		
		<div class="uk-animation-toggle">
 			<a class="uk-button uk-button-primary myButton" <%= link_to "Download Resume", newtemplate_path(:id => @current_user.id, format: 'pdf') %></a>
		</div>
	<% end %>
</div>
