<div class= "uk-container uk-background-muted uk-padding uk-panel" style="padding: 50px;margin-top: 150px;">
    <h2> Add your skills here </h2><br>
        <%= form_for @skills do |f| %>

             <%= f.hidden_field :resume_id, :value => @user_resume %>

            <label class="uk-form-label" for="form-stacked-text">
               Skill Name
            </label>
            <div class="uk-form-controls">
                <%= f.text_field :name %>
            </div>
        <% end %>
</div>
