
<div class="uk-container">
    <h3 class="uk-article-title" style="font-size: 24px; margin-bottom: 10px;"><b>EDUCATION</b> </h3>
    

         <% @user_resume_education.each do |t| %>

            <h5 style="margin-top: 10px; margin-bottom: 5px;"> <%= t.name %> </h5>

              <div class="uk-child-width-1-2@m uk-child-width-1-2@s" uk-grid style="line-height: 0;">
                  <div style="line-height: 1;">
                      <span class="uk-text-left"><%= t.degree %></span>
                  </div>
                  <div class="uk-text-right">
                      <span style="margin-left: 445px;"><%= t.year_graduated %></span>
                  </div>
              </div>
        <% end %>
</div>