<div class="uk-container" style="margin-bottom: 10px;">
	<article class="uk-article">
    	<h1 class="uk-article-title" style="font-size: 24px;margin-bottom:0px;"><b>PROFESSIONAL SUMMARY</b></h1>
			<p class="uk-article-meta" style="color: black;"><%= obj.description %></p>
</article>  
</div>
