<div class="uk-overflow-auto" style="margin-bottom: 10px;">

    <% if @user_resume_reskills.length != 0 %>
        <h1 class="uk-article-title" style="font-size: 16px;margin-bottom: 5px;"> <b>SKILLS</b> </h1>
        <table class="uk-table" style="margin-top: 0px;line-height: 0px;;">
            <tbody >
                <tr>
                 <% skill.each do |t| %>
                 <% Skill.where("id = '#{t.skill_id}'").each do |x| %>
                 <td style="font-size: 12px; color: black;"><%= x.name %></td>
                 <% end %>
                 <% end %>
             </tr>
         </tbody>
        </table>
    <% end %>
</div>




