<div class="uk-overflow-auto" style="margin-bottom: 10px;">

    <% if @user_resume_reskills.length != 0 %>
        <h1 class="uk-article-title" style="font-size: 16px;margin-bottom: 5px;"> <b>SKILLS</b> </h1>
        <table class="uk-table" style="margin-top: 0px;line-height: 0px;;">
            <tbody >
                <% next_end = 3 %>
                <% skill.each_with_index do |t, i| %>
                    <% if i % 4 == 0 %>
                        <tr>
                    <% end %>  
                 
                    <% Skill.where("id = '#{t.skill_id}'").each do |x| %>
                        <td style="font-size: 12px; padding-bottom: 8px; color: black;"><%= x.name %></td>
                    <% end %>



                    <% if next_end  == i %>
                        <% next_end = next_end + 4 %>
                        </tr>
                    <% end %> 
                     

                 <% end %>
             </tr>
         </tbody>
        </table>
    <% end %>
</div>




