    
<div class="uk-overflow-auto" style="margin-bottom: 10px;">

    
    <h1 class="uk-article-title" style="font-size: 24px;margin-bottom: 5px;"> <b>SKILLS</b> </h1>
    
    <table class="uk-table" style="margin-top: 0px;line-height: 0px;;">
    <tbody >
        <tr>
            <% @user_resume_skills.each do |t| %>
            <td><%= t.name %>
        <a <%= link_to "Edit", edit_skill_path(t) %></a>|
        <a  <%= link_to "Remove", skill_path(t), method: :delete, data: { confirm: "Are you sure?" } %></a>
    </div>
            </td>


            <% end %>

        </tr>
    </tbody>
    
</table>
</div>


