<div class= "uk-container uk-background-muted uk-padding uk-panel" style="padding: 50px;margin-top: 150px;">
    <h2> Add your Summary here </h2><br>
        <%= form_for @summary do |f| %>
            <label class="uk-form-label" for="form-stacked-text">
               Summary 
            </label>
            <div class="uk-form-controls">
                <%= f.text_field :description %>
            </div>
            <div class="waves-effect waves-light btn">
              <%= submit_tag "Add" %>
            </div>
        <% end %>
</div>
